# These are retrieved from your project at app.tina.io
NEXT_PUBLIC_TINA_CLIENT_ID=479da2f7-1163-4522-8a2c-fd1cd98f35f8
TINA_TOKEN=7939829420f19c82f31192d7cbcdb1e79f5ed67b

# This is set by default CI with Netlify/Vercel/Github, but can be overriden
NEXT_PUBLIC_TINA_BRANCH=***
# To see the preview functionality
VERCEL_ENV=preview
